doctype html
html(lang="en")
  include components/head.pug
  include components/mixins.pug
  body
    include components/header.pug
    main.main
      // Preprocessors Article
      +main-article("preprocessor_draw.png", "Preprocessors", "Featured", "Learn about the features of CSS and HTML Preprocessors", "Using CSS and HTML preprocessors, users will be able to save time coding and to write clearer code thanks to the useful tools they offer.", "143", "722", "73")
      // SASS Preprocessor
      +article("small-article sass-article", "sass.png", "SASS", "CSS", "SASS Preprocessor", "73", "353", "25")
      // Learn Web Development Banner
      aside.banner
        // Title 
        h2 Learn web development: read about the best practices when building websites
        // Description
        .banner__description
          p 
            | If your goal is to learn Web Development easily, here's your place. We have the most useful information for you to understand how the web development works and create your own website.
          // Read More Button
          button.banner__button Read more
      // Sidebar Courses
      aside.sidebar
        h3 Featured articles
        ol.sidebar__news
          li 
            a HTML and CSS: Advanced
          li 
            a JavaScript: Basic
          li 
            a React: The most used Framework
          li 
            a Preprocessors: Save time using these preprocessors
      // Web Development
      +article("medium-article web-development-article", "web_dev.png", "Web Development", "Web Development", "Build your website", "89", "643", "201")
      // LESS Preprocessor
      +article("small-article less-article", "less.png", "LESS", "CSS", "LESS Preprocessor", "43", "466", "62")
      // PUG Preprocessor
      +article("small-article pug-article", "pug.png", "PUG", "HTML", "HTML Preprocessor", "35", "243", "94")
      // STYLUS Preprocessor
      +article("small-article stylus-article", "stylus.png", "STYLUS", "CSS", "STYLUS Preprocessor", "39", "282", "88")
    include components/footer.pug