&__info-container {
  display: grid;
    gap: 2vh;

  width: 100%;
}

@media (min-width: 768px) {
  &__info-container {
      grid-template-columns: 50% 1fr;
      align-items: center;
      gap: 0;

    width: 100%;
  }
}

@media (min-width: 1024px) {
  &__info-container {
      grid-template-columns: none;
      justify-content: start;

    .game-container__messages {
      font-size: 2.2rem;
    }
  }
}

@media (min-width: 1280px) {
  &__info-container {
    .game-container__messages {
      font-size: 2.8rem;
    }
  }
}

@media (min-width: 1536px) {
  &__info-container {
    .game-container__messages {
      font-size: 3.4rem;
    }
  }
}

@media (min-width: 1820px) {
  &__info-container {
    .game-container__messages {
      font-size: 4.4rem;
    }
  }
}