.moments {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "hat-trick hat-trick hat-trick"
    "hat-trick hat-trick hat-trick";
    grid-auto-rows: 100px;
  
  width: 100%;
  padding: 20px 4px;
  margin: 20px 0;
  border-top: 1px solid $color-secondary;
  border-bottom: 1px solid $color-secondary;

  @import './large-item';

  @import './small-item';

  @import './square-item';

  &__item {
    position: relative;

    border-radius: 4px;
    margin: 2px;
    
    color: $color-secondary;
    object-fit: contain;

    transition: $transition-normal;
    overflow-y: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    opacity: $opacity-moments;
  }

  &__title {
    position: absolute;
      bottom: 0;

    width: 100%;

    text-align: center;

    @include background-color;
    @include text-shadow(black);

    transition: $transition-slow;
  }

  // Stats Container
  .stats {
    position: absolute;
      top: 4px;
      left: 4px;
    display: grid;

    font-family: $font-secondary;
    font-weight: 600;

    border-radius: 4px;

    @include text-shadow($color-tertiary);

    &__item {
      display: grid;
        grid-auto-flow: column;
        align-items: center;

      &:hover {
        .moments__tooltip {
          opacity: .7;
        }
      }
    }
  }

  &__tooltip {
    position: absolute;
      bottom: -24px;
      justify-self: center;

    font-family: $font-secondary;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;

    border-radius: 2px;

    background-color: $color-secondary;
    color: $color-tertiary;
    text-shadow: none;

    pointer-events: none;
    opacity: 0;
    transition: $transition-slow;
  }

  &__match {
    position: absolute;
    display: grid;
      justify-items: end;
      gap: 4px;
    
    font-family: $font-secondary;
    font-weight: 600;
  
    @include text-shadow($color-tertiary);
  }

  &__opponent {
    position: relative;
    
    font-family: $font-secondary;
    font-weight: 600;
    
    @extend .stats__item;

    &:hover {
      .moments__tooltip {
        opacity: .7;
      }
    }
  }

  &__item:hover {
    margin: 0;

    .moments__title {
      color: $color-additional;

      @include text-shadow($color-tertiary);
    }
  }
}