.moments__item--small {
  .moments__title {
      padding: 2px 0;

    font-size: 13px;
  }

  .stats {
    display: none;
    //   top: 2px;
    //   left: 2px;
    //   place-items: center;

    // padding: 2px;
  
    // @include background-color;

    // &__item {
    //     gap: 4px;

    //   font-size: 14px;

    //   img {
    //     width: 18px;
    //   }
    // }
  }

  .moments__tooltip {
    display: none;
    // font-size: 10px;

    // padding: 1px 2px;
  }

  .moments__match {
    display: none;
    //   top: 2px;
    //   right: 2px;
    
    // font-size: 14px;

    // .moments__tooltip {
    //     right: unset;
    //     bottom: unset;
    //     right: 20px;
    // }
  }

  .moments__date {
    display: none;
    // padding: 2px;
    // border-radius: 4px;

    // @include background-color;
  }

  .moments__opponent {
      gap: 2px;

    font-size: 16px;
    
    @extend .moments__date;
  }

  &:hover {
    .moments__title {
      font-size: $font-size-medium;
    }
  }
}

// Grid Elements
.moments__item {
  // Five Contributions
  &--five-contributions {
    :hover {
      .moments__title {
        font-size: 14px;
      }
    }
  }

  // T-Shirt
  &--t-shirt {
    grid-row: 9 / 11;
    grid-column: 3 / 4;
  }

  // 700 Goals
  &--700-goals {
    overflow: hidden;
  }
}