.moments__item--small {
  .moments__title {
      padding: 2px 0;

    font-size: 13px;
  }

  .stats, .moments__tooltip, .moments__match, .moments__date {
    display: none;
  }

  &:hover {
    .moments__title {
      font-size: $font-size-medium;
    }
  }
}

// Grid Elements
.moments__item {
  // Five Contributions
  &--five-contributions {
    :hover {
      .moments__title {
        font-size: 14px;
      }
    }
  }

  // T-Shirt
  &--t-shirt {
    grid-row: 9 / 11;
    grid-column: 3 / 4;
  }

  // 700 Goals
  &--700-goals {
    overflow: hidden;
  }
}