.title-container {
  position: relative;
  display: grid;

  width: 100%;

  &__background {
    position: relative;
      z-index: 2;

    width: 100%;

    opacity: .95;
  }

  &__title {
    position: absolute;
      bottom: 12px;
      z-index: 5;

    font-size: 38px;
    line-height: 100%;
    text-align: center;

    color: $color-secondary;

    @include text-shadow($color-primary);

    &--blue {
      color: $color-tertiary;
        
      @include text-shadow($color-secondary);
    }

    &--red {
      color: $color-primary;
      
      @include text-shadow($color-secondary);
    }

    &--yellow {
      color: $color-additional;
      text-shadow: none;
    }
  }
}