extends components/template.pug
block contents
  .content
    include components/menu.pug
    main 
      h2 Main Title
      p 
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, blanditiis quos possimus quia provident alias deserunt ipsam ratione impedit aspernatur inventore, itaque consequuntur. Sint atque ut fuga aliquam totam nemo.
      p
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis libero nulla quam distinctio est optio deserunt? Architecto libero doloribus tenetur fugit placeat, sed corporis neque dignissimos ipsam consequatur adipisci. Voluptate!
      a.button see more