header {
  height: 12vh;
  padding: 0 20px;
}

.left-side__hamburger {
  width: 75px;
  height: 75px;

  svg {
    width: 44px;
    height: 44px;
  }
}

.logo {
  height: 8vh;
}

.right-side__shopping-cart {
  width: 75px;
  height: 75px;

  svg {
    width: 56px;
    height: 56px;
  }
}