header.header
    // Menu
    img(class="header__menu" src="../assets/icons/menu_icon.svg")
    // Logo
    img(class="header__logo" src="../assets/images/css_logo.png", alt="CSS Logo")
    // Navbar
    nav.navbar.header__navbar
      // Options
      ul.navbar__options
        li: a(href="#")
          | Home
        li: a(href="#")
          | HTML
        li: a(href="#")
          | CSS
        li: a(href="#")
          | JavaScript
        li: a(href="#")
          | Tips
    // Search
    .header__search
      // Search Icon
      img(src="../assets/icons/magnifying_glass.svg", alt="Search Icon")
      // Search Input
      input(type="text" placeholder="Search")