* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand";
  padding-top: 8vh;
  background-color: rgb(12, 12, 12);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(12, 12, 12);
}

::-webkit-scrollbar-thumb {
  background-color: #d6b17a;
  border-radius: 8px;
}

input, button {
  font-family: "Quicksand";
}

li {
  list-style: none;
}

.white {
  fill: white;
}

.light-golden {
  fill: #d6b17a;
}

.primary-button {
  font-weight: bold;
  border: none;
  background-color: #d6b17a;
  color: black;
  border-radius: 12px;
  transition: 0.15s;
}
.primary-button:active {
  background-color: #d8bd94;
  transform: scale(0.97);
}

.shopping-cart {
  position: fixed;
  z-index: 2;
  display: grid;
  grid-template-rows: 70% 1fr;
  place-items: start center;
  width: 100%;
  height: 92vh;
  padding: 20px 0;
  background-color: rgb(12, 12, 12);
}
.shopping-cart__products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 90%;
  height: 100%;
  padding-right: 4px;
  overflow-y: auto;
}
.shopping-cart__products-container::-webkit-scrollbar {
  width: 4px;
}
.shopping-cart__product {
  display: grid;
  grid-template-columns: 25% 1fr repeat(2, auto);
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 4px;
  border: 1px solid transparent;
  border-radius: 12px;
  transition: 0.15s;
}
.shopping-cart__product:active {
  border: 1px solid #d6b17a;
  box-shadow: 0 0 6px #d6b17a;
  background-color: #242321;
}
.shopping-cart__product-img {
  width: 100%;
  height: 100%;
}
.shopping-cart__product-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.shopping-cart__product-name {
  font-size: 14px;
  color: #a7a7a7;
}
.shopping-cart__product-price {
  font-size: 16px;
  color: white;
}
.shopping-cart__info {
  display: grid;
  place-items: center;
  width: 90%;
  height: 100%;
  background-color: rgb(12, 12, 12);
}
.shopping-cart__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  width: 100%;
  padding: 24px 16px;
  background-color: #242321;
  color: white;
  border-radius: 12px;
}
.shopping-cart__checkout-button {
  font-size: 18px;
  width: 100%;
  height: 56px;
}
.shopping-cart--inactive {
  display: none;
}

@media (min-width: 768px) {
  .shopping-cart {
    grid-template-rows: 75% 1fr;
    height: 88vh;
  }
  .shopping-cart__products-container {
    gap: 20px;
    width: 80%;
  }
  .shopping-cart__product {
    grid-template-columns: 20% 1fr repeat(2, auto);
    gap: 24px;
  }
  .shopping-cart__product-name {
    font-size: 18px;
  }
  .shopping-cart__product-price {
    font-size: 20px;
  }
  .shopping-cart__info {
    width: 80%;
  }
  .shopping-cart__total {
    font-size: 20px;
    padding: 26px 24px;
  }
  .shopping-cart__checkout-button {
    font-size: 24px;
    height: 76px;
  }
  .shopping-cart svg {
    width: 28px;
    height: 28px;
  }
}
@media (min-width: 1024px) {
  .shopping-cart {
    right: 4px;
    width: 35vw;
    max-width: 500px;
    height: 80vh;
    padding: 32px 0;
    border-radius: 20px;
    box-shadow: 0 0 4px #d6b17a;
  }
  .shopping-cart__products-container {
    gap: 12px;
    width: 90%;
  }
  .shopping-cart__product {
    gap: 12px;
    cursor: pointer;
  }
  .shopping-cart__product:hover {
    background-color: #242321;
  }
  .shopping-cart__product-name {
    font-size: 16px;
  }
  .shopping-cart__product-price {
    font-size: 18px;
  }
  .shopping-cart__info {
    width: 90%;
  }
  .shopping-cart__total {
    font-size: 18px;
    padding: 24px;
  }
  .shopping-cart__checkout-button {
    font-size: 20px;
    height: 56px;
    cursor: pointer;
  }
  .shopping-cart__checkout-button:hover {
    opacity: 0.8;
  }
  .shopping-cart svg {
    width: 24px;
    height: 24px;
  }
}

/*# sourceMappingURL=aside.css.map */
