.footer {
  width: 100%;
  padding: 3%;
  margin-top: 6rem;

  background-color: $color-secondary;

  .info-container {
    display: grid;
      gap: .8rem;
      
    margin: 1.6rem 0;

    li {
      font-weight: 500;

      cursor: pointer;
    }
  }

  .social-media {
    display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.4rem;

    img {
      width: 3.2rem;
      
      cursor: pointer;
    }
  }
}