.contenido
	margin-bottom: 4rem
	justify-content: space-evenly
	contenedor()

.caja
	max-width: 40rem
	caja-sombra()

	&__contenido
		padding: 2rem
		background-color: color-white

		span
			color: color-secondary
			titulos(font-title)
		h3
			font-weight: normal
			titulos(font-title)