main {
    gap: 3vh;
  
  .heading {
    font-size: $font-size-5xl;
  }

  .projects-container {
      gap: 0 24px;
  }

  // Project Card
  .project {
    width: $card-width-xl;
    min-height: $card-height-xl;
    padding: 24px;

    &__date {
      font-size: $font-size-l;
    }

    &__title {
      font-size: $font-size-xxl;
    }

    &__description {
      font-size: $font-size-l;
    }

    &__technologies {
      img {
        width: 56px;
      }
    }
  }
}