body {
  background-image: url('https://res.cloudinary.com/dziyyutwr/image/upload/v1692066465/Platzi%20Portfolio/wpp_desktop_mq8p9g.jpg');
}

main {
    gap: 5vh;

  padding: 3vh 4vw 0;

  .heading {
    font-size: $font-size-5xl;

    pointer-events: none;
  }

  .projects-container {
      grid-template-columns: repeat(auto-fill, minmax(170px, 200px));
      gap: 0 20px;
  }

  // Project Card
  .project {
    width: $card-width-l;
    min-height: $card-height-l;
    margin: 20px;

    &__date {
      font-size: $font-size-m;
    }

    &__title {
      font-size: $font-size-xl;
    }

    &__description {
      font-size: $font-size-l;
    }

    &__technologies {
        gap: 8px 12px;

      img {
        width: 48px;
      }
    }

    &:hover {
      box-shadow: $box-shadow-soft;
      
      transform: scale(1.05);
    }

    &:active {
      box-shadow: $box-shadow;

      transform: scale(1.1, 1.02);
    }
  }
}