body {
  background-image: url('https://res.cloudinary.com/dziyyutwr/image/upload/v1692066465/Platzi%20Portfolio/wpp_tablet_psiwsi.jpg');
}

main {
  padding: 5vh 5vw;

  .heading {
    font-size: $font-size-4xl;
  }

  .projects-container {
      grid-template-columns: repeat(auto-fill, minmax(150px, 180px));
      gap: 4px 16px;
  }

  // Project Card
  .project {
    width: $card-width-m;
    min-height: $card-height-m;
    padding: 12px;
    margin: 12px;
  
    &:active {
      transform: scale(1.1, 1.01);
    }
  
    &__date {
      font-size: $font-size-m;
    }
  
    &__title {
      font-size: $font-size-l;
    }
  
    &__description {
      font-size: $font-size-s;
    }
  }
}