.main {
  display: grid;
    grid-template-rows: 40% 60%;
    justify-items: center;
  
  width: 100%;
  height: 84vh;
  
  background: url("https://wallpapers.com/images/hd/technology-world-map-outline-7ldmh5aa5nsn3jim.jpg") center/cover no-repeat;

  &__title {
      align-self: center;
    
    font-size: 44px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    word-spacing: 16px;
    line-height: 150%;
    
    width: 60%;
    
    color: $color-secondary;
    text-shadow: 4px 4px 4px $color-dark;
  }

  &__button {
    font-family: $font-secondary;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;

    height: fit-content;
    border: 1px solid $color-light;
    border-radius: 4px;

    background-color: rgba($color-primary, .7);
    color: $color-light;

    .link-container {
      padding: 16px 32px;

      transition: $transition-slow;

      &:hover {
        padding: 24px 48px;

        background-color: rgba($color-primary, .9);
      }

      &:active {
        padding: 24px 48px;

        background-color: $color-tertiary;
        color: $color-dark;
      }
    }
  }
}