body {
  padding-top: 8vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rowdies", sans-serif;
  padding-top: 6vh;
  background-color: #8a2742;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #8a2742;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #1c2565;
}

h1, h2, h3 {
  font-family: "Rowdies", sans-serif;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  font-family: "Poppins", cursive;
  font-size: 12px;
  padding: 3px 6px;
  border: none;
  border-radius: 2px;
  background-color: #dddbd7;
  color: #1c2565;
}

.link-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.header {
  height: 8vh;
}
.header__menu {
  width: 60px;
  height: 60px;
}
.header__logo {
  position: absolute;
  left: 30%;
  right: 30%;
  width: 40%;
  font-size: 36px;
  text-align: center;
}
.header .button {
  font-size: 15px;
  padding: 4px 8px;
}

.main {
  width: 92%;
}
.main .title-container {
  padding-bottom: 40px;
}
.main .title-container__title {
  left: 5%;
  right: 5%;
  bottom: 60px;
  font-size: 46px;
  width: 90%;
}
.main .moments {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  padding: 8px 1%;
  margin-top: 40px;
}
.main .moments__item {
  margin: 4px;
}
.main .moments .stats {
  top: 12px;
  left: 12px;
}
.main .moments .stats__item {
  gap: 10px;
  font-size: 26px;
}
.main .moments__tooltip {
  font-size: 15px;
}
.main .moments__match {
  top: 16px;
  right: 12px;
  padding: 0;
}
.main .moments__match .moments__tooltip {
  right: 0;
}
.main .moments__date {
  font-size: 22px;
}
.main .moments__opponent {
  gap: 10px;
  font-size: 26px;
}
.main .moments__opponent img {
  width: 28px;
}
.main .moments .moments__item--large .moments__title {
  font-size: 26px;
  padding: 12px 0;
}
.main .moments .moments__item--large .stats__item img {
  width: 30px;
}
.main .moments .moments__item--large:hover .moments__title {
  font-size: 36px;
}
.main .moments .moments__item--bayern {
  grid-row: 7/9;
  grid-column: 1/5;
}
.main .moments .moments__item--small .moments__title {
  padding: 4px 0;
  font-size: 16px;
}
.main .moments .moments__item--small .stats {
  display: block;
  top: 4px;
  left: 8px;
  text-shadow: 4px 2px 5px black;
}
.main .moments .moments__item--small .stats__item {
  gap: 8px;
  font-size: 22px;
}
.main .moments .moments__item--small .stats__item img {
  width: 22px;
}
.main .moments .moments__item--small .moments__tooltip {
  display: block;
  font-size: 12px;
  padding: 1px 2px;
}
.main .moments .moments__item--small .moments__match {
  display: block;
  top: 8px;
  right: 8px;
}
.main .moments .moments__item--small .moments__date {
  display: block;
  font-size: 15px;
}
.main .moments .moments__item--small .moments__opponent {
  display: grid;
  justify-content: end;
  gap: 8px;
}
.main .moments .moments__item--small:hover .moments__title {
  font-size: 18px;
}
.main .moments .moments__item--five-contributions {
  grid-row: 2/4;
  grid-column: 4/5;
}
.main .moments .moments__item--t-shirt {
  grid-row: 3/5;
  grid-column: 1/2;
}
.main .moments .moments__item--square .moments__title {
  padding: 10px 0;
}
.main .moments .moments__item--square .stats__item img {
  width: 28px;
}
.main .moments .moments__item--five-goals {
  grid-row: 4/6;
  grid-column: 3/5;
}
.main .moments .moments__item--masterclass {
  grid-row: 5/7;
  grid-column: 1/3;
}

.footer {
  grid-template-columns: 1fr 1fr;
  padding: 15px;
}
.footer h3 {
  font-size: 26px;
}
.footer .follow-us {
  align-content: unset;
}
.footer .follow-us__grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: none;
}
.footer .follow-us__item--facebook {
  grid-column: unset;
  grid-row: unset;
}
.footer .follow-us__item--instagram {
  grid-column: unset;
  grid-row: unset;
}
.footer .follow-us__item--twitter {
  grid-column: unset;
  grid-row: unset;
}
.footer .follow-us img {
  width: 38px;
}
.footer .contact-us {
  align-content: space-around;
}
.footer .contact-us__grid {
  gap: 0;
  align-items: center;
  font-size: 22px;
}

/*# sourceMappingURL=tablet.css.map */
