.moments {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;

  padding: 8px 1%;
  margin-top: 40px;

  &__item {
    margin: 4px;
  }

  // Stats Container
  .stats {
      top: 12px;
      left: 12px;

    &__item {
        gap: 10px;
      
      font-size: $font-size-xlarge;
    }
  }

  &__tooltip {
    font-size: $font-size-medium;
  }

  &__match {
      top: 16px;
      right: 12px;

    padding: 0;

    .moments__tooltip {
        right: 0;
    }
  }

  &__date {
    font-size: $font-size-large;
  }

  &__opponent {
      gap: 10px;
    
    font-size: $font-size-xlarge;

    img {
      width: 28px
    }
  }

  @import './large-item';

  @import './small-item';

  @import './square-item';
}
