.moments__item--square {
  .moments__title {
    padding: 10px 0;
  }

  .stats {
    &__item {
      img {
        width: 28px;
      }
    }
  }
}

// Grid Elements
.moments__item {
  &--five-goals {
    grid-row: 4 / 6;
    grid-column: 3 / 5;
  }

  &--masterclass {
    grid-row: 5 / 7;
    grid-column: 1 / 3;
  }
}