$font-stack: 'IBM Plex Sans', sans-serif;

$color-primary: #FFEFE7;
$color-secondary: #FFDAC6;
$color-tertiary: #BABD8D;
$color-text-primary: #7C6A0A;
$color-additional: #F2BED1;

@mixin title($font-size) {
  font-size: $font-size;
  text-transform: uppercase;
}

@mixin transition {
  overflow: hidden;
  transition: .2s;
}

@mixin clickeable($color-hover, $color-active) {
  border-radius: 50%;

  @include transition;

  &:hover {
    background-color: $color-hover;
  }

  &:active {
    background-color: $color-active;
  }
}

@mixin section-scrollbar($color) {
  &::-webkit-scrollbar {
    height: 1.2rem;

    background-color: opacity($color, .5);
    border-radius: .6rem;

    &-thumb {
      background-color: $color;
      border-radius: .6rem;
    }
  }
}

@mixin section-cards-container($columns, $background-color, $color, $hover-color, $active-color) {
  // Cards Container
  .product-container__cards-container {
    grid-template-columns: repeat($columns, 50%);
  }

  // Product Card
  .card {
    background-color: $background-color;
    color: $color;

    &__favorites {
      @include clickeable($hover-color, $active-color);
    }

    &:hover {
      background-color: opacity($background-color, .8);
    }
  }
}

@function opacity($color, $grade) {
  @return rgba($color, $grade);
}

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-stack;
  font-size: 1.6rem;
  
  background-color: $color-primary;
  color: $color-text-primary;
}

body::-webkit-scrollbar {
  width: 1.2rem;

  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  margin-top: 2rem;
  background: linear-gradient(to right, $color-secondary 70%, transparent 70%);
}

h2 {
  font-weight: 400;

  margin-bottom: 4rem;

  @include title(2.4rem);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.button-link {
  display: grid;
    place-items: center;

  width: 100%;
  height: 100%;
}