/*Header Apps*/
.header__apps {
  background-color: var(--very-light-gray);
}

/*Apps Container*/
.apps {
  position: absolute;
    top: 7.2rem;
    right: 0;
  display: flex;
    flex-direction: column;
    align-items: center;

  width: 31.5rem;
  height: 44rem;

  background-color: var(--white);
  border-radius: .8rem;
  box-shadow: 0 0 .6rem var(--gray);

  overflow: auto;
}

/*Apps Scrollbar*/
.apps::-webkit-scrollbar {
  width: 1.2rem;
}

.apps::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
}

.apps::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--very-light-gray);
  border: solid 3px transparent;
  border-radius: .8rem;
}

/*Section Apps Container*/
.apps__section {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .8rem;

  padding: 1.6rem 1.2rem 1.6rem 2rem;
}

/*App*/
.apps__app {
  width: 100%;
  height: 8.4rem;
  min-height: 8.4rem;
  padding-bottom: .6rem;

  border-radius: .8rem;

  overflow: hidden;
}

.apps__app:hover {
  background-color: var(--blue-hover);

  overflow: initial;
}

/*App Link*/
.apps__link {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 1.4rem;
  
  width: 100%;
  height: 100%;
}

/*App Icon*/
.apps__icon {
  max-width: 3.6rem;
  max-height: 3.6rem;
}

/*Apps Name*/
.apps__name {
  text-align: center;

  font-size: 1.4rem;

  width: 100%;

  white-space: nowrap;
}

.apps__app:hover .apps__name {
  white-space: initial;
}

/*Account Icon*/
.account-icon {
  border-radius: 80%;
}

/*Google Apps*/
.google-apps {
  border-bottom: .1rem solid var(--very-light-gray);
}

/*More From Google*/
.more {
  display: flex;
    align-items: center;
    justify-content: center;

  width: 100%;
}

/*More From Google Button*/
.more__button {
  border: .1rem solid var(--very-light-gray);

  font-family: arial, sans-serif;
  font-size: 1.4rem;

  background-color: transparent;
  color: var(--blue-link);
  border-radius: .4rem;
}

/*More From Google Link*/
.more__link {
  display: flex;

  padding: 1rem 2.4rem;

  transition: .2s;
}

.more__link:hover {
  background-color: var(--very-light-blue);
}