footer.footer
  .footer__more
    a(href="#"): span forum
    a(href="#"): span about
  .footer__us
    p 
      | This website is optimized for reading and learning. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using our website, you agree to have read and accepted our 
      a(href="#"): span terms of use,
      a(href="#"): span cookie and privacy policy.
  .footer__logo 
    img(src="../assets/images/css_logo.png", alt="CSS Logo")