head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  // Adding 'Ubuntu' and 'Kanit' Fonts 
  link(rel="preconnect", href="https://fonts.googleapis.com")
  link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
  link(link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet")
  // Adding Tab Page Icon
  link(rel="shortcut icon", href="/preprocessors/assets/images/favicon.png")
  // Adding Styles
  link(rel="stylesheet", href="../css/styles.css")
  link(rel="stylesheet", href="../css/tablet.css", media="(min-width: 768px)")
  link(rel="stylesheet", href="../css/desktop.css", media="(min-width: 992px)")
  title CSS Preprocessors