.products-container {
  display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
    gap: 24px;

  width: 100%;

  // Sort By
  .sort-by {
    font-size: $font-s;

    color: $color-white;

    &__option {
      color: $color-light-gray;
    }
  }

  @import './home-cards-container';

  // See More Button
  .see-more {
    font-size: $font-l;

    padding: 6px 12px;
    border: none;

    background-color: $color-dark-golden;
    color: $color-light-golden;
    border-radius: $border-radius-s;

    transition: $transition-normal;

    &:active {
      background-color: $color-light-golden;
      color: $color-dark-golden;

      transform: scale(.9);
    }
  }
}