.product-container {
  display: grid;
    gap: 5rem;

  width: 100%;
  margin-top: 6rem;

  // Product Sections
  &__section {
    position: relative;
    
    padding-bottom: 2rem;
    
    overflow-x: scroll;

    // Title
    h2 {
      position: sticky;
        top: 0;
        left: 0;
    }
  }

  // Cards Container
  &__cards-container {
    display: grid;
      gap: 3.2rem;
  }
  
  // Product Card
  @import './product-container__card';

  // Product Section - Health Care
  &__section--health-care {
    @include section-scrollbar($color-secondary);
    @include section-cards-container(6, $color-secondary, inherit, $color-additional, $color-primary);
  }

  // Product Section - Furniture
  &__section--furniture {
    @include section-scrollbar($color-tertiary);
    @include section-cards-container(9, $color-tertiary, white, $color-tertiary, $color-text-primary);
  }
}
 