&__canvas {
  display: grid;
    gap: .5rem;
    
  font-weight: 600;

  color: $color-tertiary;

  #canvas {
    border: 5px dotted #27005D;
    border-radius: .5rem;

    background: linear-gradient(86deg, rgba(174,210,255,1) 0%, rgba(228,241,255,1) 95%);
  }
}

@media (min-width: 768px) {
  &__canvas {
    font-size: 1.8rem;

    #canvas {
      border-width: .5rem;
    }
  }
}

@media (min-width: 1280px) {
  &__canvas {
    font-size: 2.4rem;
  }
}

@media (min-width: 1820px) {
  &__canvas {
    font-size: 3.2rem;
  }
}