// Variables
$font-roboto: "Roboto";
$font-bruno: "Bruno Ace SC", cursive;
$font-size-xs: 11px;
$font-size-s: 13px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 22px;
$font-size-xxl: 24px;
$font-size-3xl: 28px;
$font-size-4xl: 32px;
$font-size-5xl: 36px;
$font-size-6xl: 44px;
$card-width-s: 165px;
$card-width-m: 175px;
$card-width-l: 200px;
$card-width-xl: 220px;
$card-height-s: 260px;
$card-height-m: 270px;
$card-height-l: 300px;
$card-height-xl: 330px;
$card-radius: 12px;
$background-color-project: linear-gradient(180deg, #000 25%, #494949 60%, #c6c6c6 100%);
$color-project-text: #C7C7C7;
$color-text-description: #A0A0A0;
$color-light: white;
$box-shadow-soft: 0 0 .8rem white;
$box-shadow: 0 0 2rem white;
$transition: .15s;

// General Styles
* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

body {
  font-family: $font-roboto;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.959);
}

::-webkit-scrollbar-thumb {
  background-color: $color-project-text;
  border-radius: 8px;
}