@import "./globals/globals_tablet";

body {
  background-image: url(../../assets/images/wpp_tablet.jpg);
}

main {
    gap: 2rem;
  
  padding-top: 2rem;
}

.heading {
  font-size: $font-size-heading;
}

.projects-container {
    grid-auto-rows: $size-row;

  padding: 0 1.2rem;
}

.project {
  width: $card-with;
  height: $card-height;
  padding: $card-padding;

  &:hover {
    width: $card-with-hover;
    height: $card-height-hover;
  }

  &__date {
    font-size: $font-size-m;
  }

  &__title {
    font-size: $font-size-l;
  }

  &__description {
    font-size: $font-size-s;
  }

  &__technologies {
      gap: 1.6rem;

    .project__tech {
      width: 4.4rem;
    }
  }
}

@media (min-width: 750px) {
  .projects-container {
      grid-template-columns: repeat(4, 1fr);
    
    padding: 0 1.2rem;
  }
}

@media (min-width: 960px) {
  .projects-container {
    grid-template-columns: repeat(5, 1fr);
  
  padding: 0 1.6rem;
  }
}