main {
  max-width: 90%;
  margin: 0 auto;
}

.hero {
  display: grid;
    justify-items: center;
    gap: 6rem;

  padding: 5rem 0;
  border-bottom: 1px solid var(--color-tertiary);

  &__info {
    display: grid;
      justify-items: center;
      gap: 2.8rem;

    color: var(--color-primary);
  }

  h1 {
    font-size: 4rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1.8rem;
    text-align: center;
    line-height: 2.2rem;
    
    width: 90%;
  }

  button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;

    width: 65%;
    height: 5.2rem;
    margin: .2rem 0;
    border: none;

    background-color: var(--color-secondary);
    color: var(--color-light);
    border-radius: 3.2rem;

    overflow: hidden;
    transition: .3s;

    a {
      gap: 1.2rem;
    }

    &:hover {
      width: 70%;
      height: 5.6rem;
      margin: 0;

      opacity: .8;
    }
  }

  &__image {
    display: grid;

    width: 100%;

    object-fit: contain;

    img {
        justify-self: center;
      
      width: 100%;
    }
  }
}

// Product Section
.product {
  display: grid;
    justify-items: center;
    gap: 4rem;

  width: 100%;
  padding: 5rem 0;
  margin: 0 auto;

  h2 {
    font-size: 2.8rem;
    text-align: center;
    text-transform: uppercase;

    color: var(--color-tertiary);
  }

  .dishes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    justify-content: center;
    gap: 1.2rem;

    max-width: 90%;

    &__image {
      width: 100%;
      height: 100%;
      
      object-fit: cover;
      border-radius: .8rem;

      &--video {
          grid-area: 1 / 1 / 3 / 3;

        cursor: pointer;
      }
    }
  }
}