main {
  max-width: 85%;
  margin: 0 auto;
}

.hero {
    gap: 8rem;

  padding: 6rem 0;

  &__info {
      gap: 3.2rem;
    
    h1 {
      font-size: 4.8rem;
    }

    p {
      font-size: 2rem;
      line-height: 2.4rem;
      
      width: 70%;
    }

    button {
      width: 45%;
      height: 6rem;
      margin: .4rem 0;

      a {
        gap: 2.4rem;
      }

      &:hover {
        width: 50%;
        height: 6.8rem;
      }
    }
  }

  &__image {
    img {
      width: 70%;
    }
  }
}

// Product Section

.product {
  padding: 6rem 0;

  h2 {
    font-size: 3.2rem;
  }

  .dishes {
    max-width: 75%;
  }
}