.estadistica--articulos
  height: 7rem
  padding: 2rem
  border-top: .1rem solid color-primary

  ul
    display: flex
    justify-content: space-evenly
  li
    list-style: none
    color: opacidad(color-primary, .3)
  span
    margin-left: 1rem