.encabezado--con-filtros
	contenedor()
	
	h2
		margin-top: 10rem
		font-size: 5rem
		titulos(font-title)
	.filtros
		width: 25rem
		height: 7.5rem
		padding: 2rem
		margin-left: auto
		caja-sombra()

		span
			titulos(font-title)
		a
			margin-left: 2rem
			font-size: 2.5rem