$color-primary: #8a2742;
$color-secondary: #dddbd7;
$color-tertiary: #1c2565;
$color-additional: #eeb92a;

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.button {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;

  padding: 3px 6px;
  border: none;
  border-radius: 2px;
  
  background-color: $color-secondary;
  color: $color-tertiary;
}

.button__link {
  display: grid;
    place-items: center;

  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  font-family: 'Merriweather', sans-serif;
  text-transform: uppercase;
}