$font-title: 'Merriweather', sans-serif;
$font-primary: 'Rowdies', sans-serif;
$font-secondary: 'Poppins', cursive;
$font-size-small: 12px;
$font-size-medium: 15px;
$font-size-large: 22px;
$font-size-xlarge: 26px;
$color-primary: #8a2742;
$color-secondary: #dddbd7;
$color-tertiary: #1c2565;
$color-additional: #eeb92a;
$transition-normal: .15s;
$transition-slow: .5s;
$opacity-moments: .9;

@mixin text-shadow($color) {
  text-shadow: 4px 2px 5px $color;
}

@mixin background-color {
  background-color: rgba(black, .3);
}

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

body {
  font-family: $font-primary;
  
  padding-top: 6vh;
  
  background-color: $color-primary;
}

::-webkit-scrollbar {
  width: 10px;
  
  background-color: $color-primary;

  &-thumb {
    border-radius: 4px;
    
    background-color: $color-tertiary;
  }
}

h1, h2, h3 {
  font-family: $font-primary;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  font-family: $font-secondary;
  font-size: $font-size-small;

  padding: 3px 6px;
  border: none;
  border-radius: 2px;
  
  background-color: $color-secondary;
  color: $color-tertiary;
}

.link-container {
  display: grid;
    place-items: center;

  width: 100%;
  height: 100%;
}