.navbar {
  position: absolute;
    right: 0;
    bottom: -3.2rem;
    left: 0;

  height: 3.2rem;
  padding: 0 1.2rem .8rem;

  background-color: $color-additional;
  color: $color-tertiary;
  border-bottom: .1rem solid $color-primary;

  &__options {
    display: flex;
      justify-content: center;
      gap: 2rem;

    font-size: 1.7rem;
    font-weight: 700;

    width: 100%;
    
    @include font-family($font-text);

    & li:hover {
      color: $color-secondary;

      transition: .15s;
    }
    
    & li:active {
      color: $color-primary;

      transition: .15s;
    }
  }
}