.main {
  display: flex;
    flex-direction: column;

  width: 100%;
  padding: 10rem 1.2rem;
  
  @import "./main_article";
  @import "./small_article";
  @import "./banner";
  @import "./sidebar";
  @import "./medium_article";
}