$color-primary: #27005D;
$color-secondary: #9400ff;
$color-tertiary: #AED2FF;
$color-cuaternary: #bddbfc;

@mixin containerOnTop {
  position: absolute;
    top: 0;
  display: flex;
    align-items: center;
    flex-direction: column;

  width: 100%;
  height: 100%;

  background-color: rgba(174, 210, 255, 0.75);

  backdrop-filter: blur(5px);
}

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

body {
  font-family: cursive;
  
  background: linear-gradient(180deg, rgba(39,0,93,1) 0%, $color-secondary 75%);
  color: white;
}

main {
  position: relative;

  min-width: 100vw;
  min-height: 100vh;

  @import './home-screen/home-screen';

  @import './game-container/game-container';

  @import './final-screen';
}

.home-button {
  border: .18rem solid $color-primary;
  margin-top: 1vh;
  
  background-color: $color-cuaternary;
  border-radius: .5rem;
  transition: .15s;

  &:active {
    background-color: rgba($color-secondary, .2);
    
    transform: scale(1.25);
  }
}

.hidden {
  display: none !important;
}

@media (min-width: 768px) {
  .home-button {
    border-width: .35rem;
    margin-top: 3vh;

    border-radius: 1rem;

    img {
      width: 6rem;
    }
  }
}

@media (min-width: 1024px) {
  .home-button {
    img {
      width: 4rem;
    }

    &:hover {
      background-color: rgba($color-secondary, .1);
      
      transform: scale(1.1);
    }

    &:active {
      background-color: rgba($color-secondary, .5);
      
      transform: scale(1.25);
    }
  }
}

@media (min-width: 1280px) {
  .home-button {
    img {
      width: 6rem;
    }
  }
}

@media (min-width: 1536px) {
  .home-button {
    img {
      width: 7rem;
    }
  }
}

@media (min-width: 1820px) {
  .home-button {
    img {
      width: 8rem;
    }
  }
}