* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FFF5E4;
  font-family: "Ubuntu", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: #850E35;
  transition: 0.15s;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding: 0 1.2rem;
  background-color: #FFF5E4;
  color: #850E35;
}
.header__menu {
  width: 8%;
  margin-right: 1.2rem;
  border-radius: 90%;
  cursor: pointer;
  transition: 0.2s;
}
.header__menu:hover {
  background-color: #FFF5E4;
}
.header__logo {
  width: 20%;
}
.header .navbar {
  position: absolute;
  right: 0;
  bottom: -3.2rem;
  left: 0;
  height: 3.2rem;
  padding: 0 1.2rem 0.8rem;
  background-color: #FFF5E4;
  color: #EE6983;
  border-bottom: 0.1rem solid #850E35;
}
.header .navbar__options {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.7rem;
  font-weight: 700;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
}
.header .navbar__options li:hover {
  color: #FFC4C4;
  transition: 0.15s;
}
.header__search {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.4rem;
  flex: 1;
}
.header__search img {
  width: 8%;
  margin-top: 0.2rem;
  cursor: pointer;
}
.header__search input {
  text-align: center;
  font-size: 1.5rem;
  width: 30%;
  padding: 0.4rem 0;
  border: none;
  background-color: transparent;
  color: #EE6983;
  border-radius: 0.4rem;
  font-family: "Ubuntu", sans-serif;
}
.header__search input::placeholder {
  font-size: 1.7rem;
  font-weight: 700;
  color: #850E35;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10rem 1.2rem;
}
.main .main-article {
  position: relative;
  width: 100%;
  border-bottom: 0.1rem solid #850E35;
  margin-bottom: 1.2rem;
}
.main .main-article a {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
.main .main-article__image {
  width: 100%;
  box-shadow: 0.8rem 0.8rem 1.6rem 0.5rem #EE6983;
}
.main .main-article__category, .main .small-article__category {
  font-size: 1.4rem;
  font-weight: 500;
  width: fit-content;
  padding: 0 0.4rem;
  margin: 0.4rem 0;
  background-color: #EE6983;
  color: #FFC4C4;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.main .main-article__info {
  text-align: justify;
}
.main .main-article__info h1 {
  font-size: 2.6rem;
}
.main .main-article__info p {
  font-size: 1.6rem;
  padding: 0.8rem 0.8rem 2rem;
  color: #EE6983;
  font-family: "Ubuntu", sans-serif;
}
.main .main-article .article__stats {
  position: absolute;
  width: 45%;
  top: 30%;
  right: 0;
}
.main .main-article .article__stats ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.8rem;
}
.main .main-article .article__stats ul li {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.main .main-article .article__stats img {
  width: 35%;
}
.main .main-article .article__stats span {
  font-size: 1.4rem;
  color: #EE6983;
}
.main .main-article:hover h1 {
  color: #EE6983;
}
.main .small-article, .main .medium-article {
  position: relative;
  width: 100%;
  padding: 0.8rem 0;
  border-bottom: 0.1rem solid #FFC4C4;
}
.main .small-article a, .main .medium-article a {
  grid-template-columns: 35% 1fr;
  gap: 5%;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
.main .small-article__category {
  position: absolute;
  top: 0.8rem;
  left: 40%;
}
.main .small-article img, .main .medium-article img {
  width: 100%;
}
.main .small-article .article__stats, .main .medium-article .article__stats {
  position: absolute;
  width: 45%;
  right: 8%;
  bottom: 0.8rem;
}
.main .small-article .article__stats ul, .main .medium-article .article__stats ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.8rem;
}
.main .small-article .article__stats ul li, .main .medium-article .article__stats ul li {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.main .small-article .article__stats img, .main .medium-article .article__stats img {
  width: 35%;
}
.main .small-article .article__stats span, .main .medium-article .article__stats span {
  font-size: 1.4rem;
  color: #EE6983;
}
.main .small-article:hover h1, .main .medium-article:hover h1 {
  color: #EE6983;
}
.main .sass-article {
  order: 1;
}
.main .less-article {
  order: 2;
}
.main .pug-article {
  order: 7;
}
.main .stylus-article {
  order: 6;
}
.main .banner {
  display: grid;
  gap: 0.8rem;
  order: 3;
  padding: 1.2rem 0.8rem;
  background-color: #EE6983;
  border-radius: 0.4rem;
}
.main .banner h2 {
  font-size: 2.2rem;
  line-height: 2rem;
  color: #FFF5E4;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.main .banner__description {
  display: grid;
  grid-template-columns: 77% 1fr;
  gap: 3%;
  place-items: center;
}
.main .banner__description p {
  text-align: justify;
  font-size: 1.4rem;
  color: #FFC4C4;
  font-family: "Ubuntu", sans-serif;
}
.main .banner__description button {
  line-height: 1.6rem;
  width: 90%;
  height: 45%;
  border: 0.1rem solid #850E35;
  color: #850E35;
  background-color: #FFC4C4;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.1s;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.main .banner__description button:hover {
  width: 100%;
  height: 50%;
}
.main .sidebar {
  order: 5;
  width: 80%;
  padding: 1.2rem;
  margin: 1.2rem auto;
  border-radius: 1.2rem;
  box-shadow: 0.8rem 0.8rem 1.6rem 0.5rem #FFC4C4;
}
.main .sidebar h3 {
  font-size: 2.2rem;
  color: #850E35;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.main .sidebar__news li {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1.6rem 0.4rem;
  border-top: 0.1rem solid #EE6983;
  color: #850E35;
  list-style: decimal inside;
}
.main .sidebar__news li:hover {
  color: #EE6983;
  text-decoration: underline;
  cursor: pointer;
}
.main .medium-article {
  display: grid;
  place-items: center;
  order: 4;
  min-height: 12.5rem;
}

/*# sourceMappingURL=styles.css.map */
