$font-size-heading: 3.6rem;
$font-size-m: 1.4rem;
$font-size-l: 1.6rem;
$font-size-xl: 2.2rem;
$card-with: 18rem;
$card-with-hover: 20rem;
$card-height: 28rem;
$card-height-hover: 30rem;
$card-with-l: 20rem;
$card-with-hover-l: 22rem;
$card-height-l: 30rem;
$card-height-hover-l: 32rem;
$card-padding: 1.6rem;
$row-size: 30rem;
$row-size-l: 32rem;
$transition: .2s;