@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .Navbar__element {
    @apply hover:text-primary active:text-primary-50 dark:hover:text-primary-100 dark:active:text-primary
  }

  .Navbar__icon {
    @apply rounded-full hover:bg-primary-50 hover:p-0.5 active:bg-primary-100 ease-in-out dark:hover:bg-primary-100 dark:active:bg-primary-50
  }
  
  .Section {
    @apply md:px-6 xl:px-8 2xl:px-12
  }

  .Section-heading {
    @apply font-bold text-2xl pl-5 text-primary md:text-3xl md:pl-2 xl:text-[34px]
  }

  .Card {
    @apply relative flex-none w-56 h-36 bg-cover bg-center rounded-lg shadow-xl overflow-hidden transition-all cursor-pointer duration-300 hover:-translate-y-1 hover:scale-105 md:w-64 md:h-40 md:hover:scale-110 xl:w-72 xl:h-44
  }

  .Card__info {
    @apply absolute bottom-0 grid w-full pb-1 pl-2 bg-gradient-to-t xl:pl-3
  }

  .Card__location {
    @apply self-end font-bold text-lg h-4/5 md:text-xl md:pb-1 xl:text-2xl xl:pb-1.5
  }

  .Card__description {
    @apply text-sm h-4/5 pl-0.5 md:text-base md:pb-1 xl:text-lg xl:pb-1.5
  }

  .Card__favorite {
    @apply absolute top-1 right-2 lg:w-7 xl:w-8
  }

  .Hotel {
    @apply flex flex-col gap-4 w-full h-96 pt-9 pl-6 rounded-2xl bg-center bg-cover cursor-pointer duration-500 hover:scale-105 lg:pl-8 lg:rounded-3xl
  }

  .Hotel__container {
    @apply w-full p-2
  }

  .Hotel__name {
    @apply text-2xl font-extrabold text-white drop-shadow-2xl xl:text-3xl shadow-black md:text-3xl
  }

  .Hotel__description {
    @apply font-semibold w-4/6 text-white drop-shadow-2xl lg:text-lg xl:text-xl shadow-black md:text-lg
  }

  .FAQ {
    @apply flex flex-col gap-1.5 w-11/12
  }

  .FAQ__question {
    @apply font-semibold text-lg text-primary-100 md:text-xl xl:text-2xl
  }

  .FAQ__answer {
    @apply text-sm leading-snug md:text-base xl:text-lg dark:text-white
  }

  .footer__element {
    @apply text-sm text-tertiary md:text-base xl:text-lg dark:text-white
  }

  .footer__social-media {
    @apply w-7 cursor-pointer md:w-8 xl:w-9
  }
}

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #c8b1e4;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #532b88;
  }