header {
  position: relative;
  display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
    justify-items: center;

  text-align: center;

  width: 100%;
  min-width: 32rem;
  height: 28rem;

  background: var(--color-background);
}

/* Logo */
.header__logo {
  padding: 4rem 0;
}

/* Info Container */
.header__info-container {
  display: grid;
    gap: 3.2rem;

  width: 90%;
  min-width: 28.8rem;
  max-width: 90rem;
}

/* Title */
.header__title {
  color: white;
}

/* Description */
.header__description {
  color: var(--color-orange-soft);
}

/* Plans Button */
.header__plans {
  position: absolute;
    bottom: -2.4rem;

  box-shadow: 0 .6rem .8rem var(--color-black-shadow);

  transition: .15s;
}

.header__plans:hover {
  background-color: var(--color-white-off);
}

.header__plans a {
  gap: .8rem;
}