$font-primary: 'Lilita One', cursive;
$font-secondary: 'Noto Sans', sans-serif;
$color-primary: #0A4D68;
$color-secondary: #00FFCA;
$color-tertiary: #05BFDB;
$color-cuaternary: #088395;
$color-dark: #002d35;
$color-light: #b7e9ff;
$transition-normal: .15s;
$transition-slow: .3s;

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

body {
  font-family: $font-secondary;

  color: $color-dark;
}

.link-container {
  display: grid;
    place-items: center;
  
  width: 100%;
  height: 100%;

  color: inherit;
  text-decoration: none;
}