$font-title: 'Lilita One', cursive;
$font-primary: 'Source Code Pro', monospace;
$font-secondary: 'Exo 2', sans-serif;
$font-size-xsmall: 10px;
$font-size-small: 12px;
$font-size-large: 28px;
$font-size-xlarge: 40px;
$font-size-2xlarge: 44px;
$color-primary: #0A4D68;
$color-secondary: #00FFCA;
$color-tertiary: #05BFDB;
$color-cuaternary: #088395;
$color-dark: #002d35;
$color-light: #b7e9ff;
$transition-normal: .15s;
$transition-slow: .3s;

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

body {
  font-family: $font-primary;
  
  width: 100vw;
  height: 100vh;

  color: $color-dark;
}

.link-container {
  display: grid;
    place-items: center;
  
  width: 100%;
  height: 100%;

  color: inherit;
  text-decoration: none;
}

.button__read-more {
  font-family: $font-primary;
  font-size: 24px;
  white-space: nowrap;
  
  width: fit-content;
  padding: 12px 24px;
  border: 1px solid $color-tertiary;

  background-color: transparent;
  color: $color-dark;

  transition: $transition-normal;

  &:hover {
    padding: 16px 32px;

    background-color: rgba($color-tertiary, .3);
  }

  &:active {
    padding: 16px 32px;

    background-color: rgba($color-primary, .7);
    color: $color-light;
  }
}