header {
  .left-side {
    // Menu
    &__menu {
      font-size: $font-xl;
    }

    // Menu Option
    &__option {
      padding: 0 20px;
    }
  }

  // Account Menu
  .right-side__account {
    font-size: $font-l;
  }

  svg {
    width: 14px;
    height: 14px;
    padding-top: 3px;
  }
}