.articulo--principal {
  max-width: 66rem;
  padding: 2rem 0;
  margin: 0 auto;

  .fuente(16px);
  h2 {
    margin: 4rem 0;
    text-align: center;
    .fuente(40px);
  }
  h3 {
    color: @color-secundario;
    padding-top: 2.8rem;
  }
  &__intro {
    font-size: @fuente-base + 8%;
  }
  p {
    margin-top: 2rem;
  }
}