body {
  padding-top: 8vh; /*Creating space for the header*/
}

.header {
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  display: flex;
    align-items: center;
    justify-content: space-between;

  height: 8vh;
  padding: 0 .6rem;
  border-bottom: .3rem solid var(--dark-golden);

  background-color: var(--background);
}

/*Hamburguer Menu, Logo, My Orders, and Shopping Cart*/
.header__hamburguer, .header__logo, .header__orders, .header__shopping-cart {
  display: flex;
    align-items: center;

  font-size: var(--fm);
  
  color: var(--white);
}

/*Menu, Sign In, and Account*/
.header__menu, .header__sign-in, .header__account, .header__desktop-menu {
  display: none;
}

/*Hamburguer Menu*/
.header__hamburguer, .header__shopping-cart {
  display: flex;
    justify-content: center;

  width: 5.2rem;
  height: 5.2rem;

  border-radius: 50%;

  cursor: pointer;
  transition: .15s;
}

.header__hamburguer:active, .header__shopping-cart:active {
  background-color: var(--dark-golden);
}

.header__hamburguer img {
  height: 2.8vh;
}

.header__logo img {
  height: 6vh;
}

.header__shopping-cart img {
  height: 3.6vh;
}

/*Shopping Cart Link*/
.header__shopping-cart a {
  display: flex;
    align-items: center;
}

@media (min-width: 1080px) {
  .header {
    display: grid;
      grid-template-columns: auto 1fr 1fr auto;

    padding: 0 3rem;
  }

  /*Hamburguer Menu*/
  .header__hamburguer {
    display: none;
  }

  /*Menu*/
  .header__menu {
    display: flex;
      gap: 1.6rem;

    font-size: var(--fl);

    padding-left: 4rem;
  }

  /*Menu Option*/
  .header__option {
    padding: .4rem 1.2rem;

    border-radius: 1rem;
    list-style: none;
  }

  /*Menu Link*/
  .header__link {
    color: var(--very-light-pink);
    text-decoration: none;

    transition: .15s;
  }

  .header__link:hover {
    color: var(--light-golden-hover);
  }

  .header__link:active {
    color: var(--light-golden);
  }

  /*Sign In and Account*/
  .header__sign-in, .header__account {
    display: block;
    text-align: end;

    font-size: var(--fs);

    padding-right: 2rem;
  }

  /*Account*/
  .account {
    position: relative;
    display: flex;
      align-items: center;
      justify-content: end;
    
    height: 100%;
    padding-right: 4rem;
  }

  /*Account Container*/
  .account__container {
    display: flex;
      align-items: center;
      gap: .8rem;
    
    width: fit-content;
    height: 60%;

    cursor: pointer;

    color: var(--white);

    transition: .15s;
  }

  .account__container:hover {
    color: var(--light-golden-hover);
  }

  /*Account Email*/
  .account__email {
    font-size: var(--fs);
    font-weight: 300;
  }

  /*Account Arrow*/
  .account__arrow {
    width: .8rem;
    margin-top: .2rem;
  }
  
  /*Desktop Menu*/
  .desktop-menu {
    display: block;
    position: absolute;
      top: 7.9vh;
      right: 11.4rem;

    width: 18.5rem;
    height: auto;
    padding: 3.5rem 3rem 0;
    border: .1rem solid var(--very-light-pink);

    background-color: var(--background);
    border-radius: 1rem;
  }

  .inactive {
    display: none;
  }

  /*Desktop Menu List*/
  .desktop-menu__list {
    list-style: none;
  }

  /*Desktop Menu Option*/
  .desktop-menu__option {
    text-align: end;

    font-size: var(--fl);

    margin-bottom: 3.5rem;
  }

  /*Desktop Menu Option Sign-Out Option*/
  .desktop-menu__option:last-child {
    padding-top: 3rem;
    border-top: .1rem solid var(--very-light-pink);
  }

  /*Desktop Menu Link*/
  .desktop-menu__link {
    text-decoration: none;

    color: var(--white);
  }

  .desktop-menu__option:hover .desktop-menu__link {
    color: var(--light-golden-hover);
  }

  .desktop-menu__option:last-child .desktop-menu__link {
    color: var(--light-golden);
  }

  /*Shopping Cart*/
  .header__shopping-cart {
    width: 5rem;
  }
}

/*Mobile Menu Container*/
.mobile-menu {
  display: flex;
    flex-direction: column;
    justify-content: space-between;

  height: 100vh;
  padding: 5rem;
}

/*Mobile Menu List*/
.mobile-menu__list {
  display: flex;
    flex-direction: column;
    gap: 4rem;
}

/*Mobile Menu Option*/
.mobile-menu__option {
  font-size: var(--fm);
  font-weight: bold;

  color: var(--white);
  list-style: none;
}

/*Mobile Menu Anchor*/
.mobile-menu__anchor {
  color: var(--white);
  text-decoration: none;
}

.mobile-menu__anchor:hover {
  color: var(--light-golden-hover);
}

/*Mobile Menu Login*/
.mobile-menu__login {
  font-size: var(--fs);

  color: var(--light-golden);
}

/*Close Figure*/
.mobile-menu__close {
  position: absolute;
    right: 2rem;
}

/*Account List*/
.account-list {
  padding-top: 7.5rem;
}

/*Account List*/
.account-list {
  border-top: .1rem solid var(--dark-golden);
}

/*Info List*/
.info-list {
    gap: 1rem;
}

/*Info List Options*/
.info-list__option {
  font-size: var(--fs);
  font-weight: 500;

  list-style: none;
}

/*Info Email element*/
.mobile-menu--color_lgray {
  color: var(--very-light-pink);
}

/*Info Sign Out element*/
.mobile-menu--color_lgolden {
  color: var(--light-golden);
}

@media (min-width: 1080px) {
  /*Mobile Menu Container*/
  .mobile-menu {
    padding: 10rem;
  }

  /*Mobile Menu Option*/
  .mobile-menu__option {
    font-size: var(--fxxl);
  }

  /*Mobile Menu Login*/
  .mobile-menu__login {
    font-size: var(--fxxl);
  }

  /*Close Figure*/
  .mobile-menu__close {
    position: absolute;
      right: 10rem;

    width: 3.6rem;
  }

  /*Info List Options*/
  .info-list__option {
    font-size: var(--fxl);
  }
}