/*Account Menu*/
.account__menu {
  position: absolute;
    right: 18rem;

  width: 18.5rem;
  height: auto;
  padding: 3.5rem 3rem 0;
  border: .1rem solid var(--very-light-pink);
  
  background-color: var(--background);
  border-radius: 1rem;
}

/*Account List*/
.account__list {
  list-style: none;
}

/*Account Option*/
.account__option {
  text-align: end;

  font-size: var(--fl);

  margin-bottom: 3.5rem;
}

/*Account Option Sign-Out Option*/
.account__option:last-child {
  padding-top: 3rem;
  border-top: .1rem solid var(--very-light-pink);
}

/*Account Link*/
.account__link {
  text-decoration: none;

  color: var(--white);
}

.account__option:last-child .account__link {
  color: var(--light-golden);
}