@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

@layer components {
  .Grid-center {
    @apply relative grid place-items-center gap-2 w-full;
  }

  .Flex-center {
    @apply relative flex flex-col items-center justify-center gap-2 w-full;
  }

  .Flex-wrap {
    @apply flex flex-wrap justify-around gap-y-4 w-full;
  }

  .Clicked__dark {
    @apply transition active:shadow-md active:shadow-primary-900 active:scale-95 active:opacity-70;
  }

  .Shadow-white {
    text-shadow: 2px 2px 4px #93B1A6;
  }

  .Scrollbar-hide::-webkit-scrollbar {
    height: 1px;
    opacity: 0;
  }

  .Clicked__light {
    @apply transition active:shadow-lg active:shadow-secondary active:scale-95;
  }

  .Navbar-element {
    @apply Flex-center h-full w-16 py-1 px-2 bg-gradient-to-r from-primary-900 to-primary-800 rounded-md Clicked__light;
  }

  .Activity-card {
    @apply Grid-center w-[90%] min-h-[200px] p-2 m-2 bg-gradient-to-b from-primary-900 to-primary-800 rounded-lg Clicked__light;
  }

  .Activity-card__paragraph {
    @apply uppercase text-lg text-center font-semibold leading-5 text-black;
  }

  .Activity-container {
    @apply Grid-center w-[88%] p-2 rounded-lg bg-secondary text-primary-900;
  }

  .Activity-heading {
    @apply uppercase font-bold text-xl;
  }

  .Navbar-element-border {
    @apply border-2 border-solid border-tertiary;
  }

  .Activity-subtitle {
    @apply font-semibold text-center leading-5 w-2/3;
  }

  .Card-container {
    @apply grid place-items-center gap-2 w-2/5 p-2 rounded-xl bg-tertiary Clicked__dark;
  }

  .Activity-paragraph__averages {
    @apply text-lg text-center leading-5 w-fit p-2 rounded-md bg-tertiary;
  }

  .Activity-container__geometry {
    @apply relative Grid-center gap-4 pl-2;
  }

  .Activity-output {
    @apply text-center leading-5;
  }

  .Activity-input {
    @apply w-1/2 py-1 px-3 border-2 border-primary-800 bg-tertiary rounded-md appearance-none focus:outline-none placeholder:text-primary-900 placeholder:opacity-75 focus-within:ring-1;
  }

  .Activity-submit {
    @apply w-1/2 py-0.5 border-2 border-tertiary bg-primary-800 rounded-md text-tertiary Clicked__dark;
  }

  .Activity-analysis-option {
    @apply w-4/6 py-1 px-2 rounded-md bg-tertiary Clicked__dark;
  }

  .Activity-table {
    @apply w-full border-collapse rounded-sm overflow-hidden;
  }

  .Activity-table-cell {
    @apply text-center p-2 border-2 border-primary-800;
  }

  .Activity-button {
    @apply text-sm font-semibold uppercase w-full h-full p-1 border-2 rounded-md border-primary-900 text-primary-900 bg-tertiary transition;
  }

  .Close-button {
    @apply absolute top-0 left-2 z-10 w-8 p-2 transition active:scale-90;
  }




  .Checked-term {
    @apply bg-gradient-to-r from-emerald-200 to-emerald-100;
  }

  .Activity-label__cdt {
    @apply Flex-center gap-0 w-[32%] py-1 rounded-lg border-2 border-primary-900 bg-tertiary Clicked__dark;
  }

  .Rate-fee__element-container {
    @apply flex justify-between text-xs;
  }
}