/*Main Container*/
.main {
  display: grid;
    place-items: end center; /*Centering the items inside "login"*/

  width: 100%;
  height: 92vh; /*Leaving space for the Header*/
}

/*Form Container*/
.form-container {
  display: grid;
    grid-template-rows: auto 1fr; /*Creating 4 rows for Title and Form*/
  
  width: 90%;
  max-width: 40rem;
  height: 100%;
}

/*Form Container _ Title*/
.form-container__title {
  margin: 4.5rem 0;

  font-size: var(--fl);

  color: var(--white);
}

/*Form and Form _ Info*/
.form, .form__info {
  display: flex;
    flex-direction: column;
    justify-content: space-between;

  width: 100%;
}

/*Form _ Label*/
.form__label {
  margin-bottom: .8rem;

  font-size: var(--fs);
  font-weight: 500;

  color: var(--white);
}

/*Form _ Input*/
.form__input {
  padding: 1rem;
  border: none;
  border-radius: .8rem;
  margin-bottom: 2.4rem;

  font-size: var(--fm);

  background-color: var(--text-input-field);
  color: var(--white);
}

/*Primary Button*/
.primary-button {
  width: 100%;
  height: 5.5rem;
  border: none;
  border-radius: 1rem;

  font-size: var(--fl);
  font-weight: bold;

  background-color: var(--light-golden);
  color: var(--black);

  cursor: pointer;

  transition: .15s;
}

.primary-button:hover {
  background-color: var(--light-golden-hover);
}

/*Form _ Button*/
.form__button {
  margin: 2.5rem 0 2rem;
}

@media (min-width: 640px) {
  /*Form Container*/
  .form-container {
    display: flex;
      flex-direction: column;
      justify-content: center;
  }

  /*Form*/
  .form {
      justify-content: unset;
  }
}