main {
  display: grid;
    place-items: center;
    gap: 4.8rem;

  padding: 2.4rem 3rem 0;
}

.title {
  font-size: 2.4rem;

  color: var(--light-golden);
}

/*Pages Container*/
.pages {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

/*Page*/
.pages__card {
  width: 100%;
  padding: 10%;

  overflow: hidden;
  transition: .15s;
}

/*Page Link*/
.pages__link {
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
  color: var(--white);
  text-decoration: none;

  transition: .15s;
}

.pages__card:hover {
  padding: 4%;
}

.pages__card:hover .pages__image {
  box-shadow: 0rem 0rem 1.2rem var(--light-golden-hover);
}

.pages__card:hover .pages__link {
  color: var(--light-golden);
}

/*Page Image*/
.pages__image {
  width: 100%;

  border-radius: 2rem;

  transition: .15s;
}

/*Page Title*/
.pages__title {
  text-align: center;

  font-size: var(--fl);
  font-weight: bold;

  padding: 0 1rem;
}

@media (min-width: 640px) {
  .title {
    font-size: 2.8rem;
  }

  /*Pages Container*/
  .pages {
      grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1080px) {
  .title {
    font-size: 3.2rem;
  }

  /*Pages Container*/
  .pages {
      grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 4rem;
  }

  /*Pages Container*/
  .pages {
      grid-template-columns: repeat(6, 1fr);
  }
}