main {
  display: grid;
    grid-template-rows: repeat(2, auto); /*Order Info and Order Products*/
    place-items: start center;
    gap: 2.4rem;

  width: 100vw;
  padding: 2.4rem;
}

/*My Order Info*/
.my-order__info {
  display: flex;
    align-items: center;
    justify-content: space-between;

  font-size: var(--fm);

  width: 100%;
  padding: 2rem;

  background-color: var(--dark-golden);
  color: var(--white);
  border-radius: 1.6rem;
}

/*Info _ Descirption*/
.my-order__description {
  display: grid;
    gap: .8rem;
}

/*Info _ Articles*/
.my-order__articles {
  font-size: var(--fs);

  color: var(--very-light-pink);
}

/*My Order Products*/
.my-order__products {
  display: flex;
    flex-direction: column;
    gap: 1.2rem;

  width: 100%;
}

/*Product*/
.my-order__product {
  font-size: var(--fm);

  padding: 1.2rem .8rem;

  border-radius: 2rem;
}

.my-order__product:hover {
  background-color: var(--dark-golden);
  box-shadow: 0 0 1rem var(--light-golden);
}

/*Product _ Link*/
.product__link {
  display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  
  width: 100%;

  color: var(--white);
  text-decoration: none;
}

/*Product _ Image*/
.product__img {
  width: 7.2rem;

  border-radius: 1.6rem;
}

/*Product _ Name*/
.product__name {
  font-size: var(--fs);

  margin-left: 1.6rem;

  color: var(--very-light-pink);

  transition: .15s;
}

.my-order__product:hover .product__name {
  color: var(--light-golden);
}

@media (min-width: 1080px) {
  main {
    width: 99.9%;
    padding: 4rem 20%;
  }
}