/*Main Container*/
.my-orders {
  display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
    gap: 2.5rem;
  
  width: 100%;
  padding: 2.5rem;
}

/*My Orders Content*/
.my-orders__content {
  display: flex;
    align-items: center;
    justify-content: space-between;

  width: 100%;
  padding: 2rem;

  background-color: var(--dark-golden);
  border-radius: 1rem;
}

/*Content Description*/
.content__description {
  display: flex;
    flex-direction: column;
    gap: .4rem;
}

/*Content Date*/
.content__date {
  font-size: var(--fm);

  color: var(--white);
}

/*Content Amount*/
.content__amount {
  font-size: var(--fxs);

  color: var(--very-light-pink);
}

/*Content Price*/
.content__price {
  font-size: var(--fm);
  
  color: var(--very-light-pink);
}

/*Orders Container*/
.my-orders__container {
  display: grid;
    gap: 1.2rem;

  width: 100%;
}

/*Product Container*/
.container__product {
  display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

  padding-bottom: 1.2rem;
  border-bottom: .1rem solid var(--dark-golden);
}

.container__product:last-child {
  border-bottom: none;
}

/*Product Image*/
.container__image {
  width: 8rem;

  border-radius: 2rem;
}

/*Product Description*/
.container__description {
  font-size: var(--fs);

  padding: 0 1.5rem;

  color: var(--very-light-pink);
}

/*Product Price*/
.container__price {
  font-size: var(--fm);
  font-weight: bold;

  padding-right: .5rem;

  color: var(--white);
}