/*Main Container*/
.main {
  display: grid;
    place-items: center; /*Centering the items inside "login"*/

  width: 100%;
  height: 100vh;
}

/*Form Container*/
.form-container {
  display: grid;
    grid-template-rows: auto auto auto auto; /*Creating 4 rows for Logo, Title, Subtitle, and Form*/
    justify-items: center;

  width: 95%;
  max-width: 30rem;
}

/*Form Container _ Logo*/
.form-container__logo {
  width: 20rem;
  margin-bottom: 5rem;
}

/*Form Container _ Title*/
.form-container__title {
  text-align: center;
  
  margin-bottom: 1.2rem;

  font-size: var(--fl);

  color: var(--white);
}

/*Form Container _ Subtitle*/
.form-container__subtitle {
  text-align: center;

  margin-bottom: 4rem;

  font-size: var(--fm);

  color: var(--very-light-pink);
}

/*Email Image*/
.email-img {
  display: flex;
    align-items: center;
    justify-content: center;

  width: 13rem;
  height: 13rem;
  border-radius: 50%;

  background-color: var(--text-input-field);
}

/*Form Container _ Email Image*/
.form-container__email-img {
  margin-bottom: 5rem;
}

/*Email Image _ Image*/
.email-img__img {
  width: 8rem;
}

/*Primary Button*/
.primary-button {
  width: 100%;
  height: 5.5rem;
  border: none;
  border-radius: 1rem;

  font-size: var(--fl);
  font-weight: bold;

  background-color: var(--light-golden);
  color: var(--black);
  
  cursor: pointer;
}

/*Form Container _ Button*/
.form-container__button {
  margin-bottom: 3rem;
}

/*Form Container _ Resend*/
.form-container__resend {
  font-size: var(--fs);

  color: var(--very-light-pink);
}

/*Form Container _ Resend _ Link*/
.form-container__resend a {
  color: var(--light-golden);
  text-decoration: none;
}

@media (min-width: 640px) {
  /*Logo*/
  .form-container__logo {
    display: none;
  }
}